.wrap {
    display: flex;
    justify-content: space-between;
    background-color: var(--card-background-color);
    transition: background-color 500ms linear;
    box-shadow: rgba(0, 0, 0, 0.50) 0 54px 55px,
    rgba(0, 0, 0, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px,
    rgba(0, 0, 0, 0.17) 0 12px 13px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
}


.title {
    width: 200px;
}


.headerWrap {
    display: flex;
    margin-right: 40px;
    column-gap: 200px;
}


.nav {
    display: flex;
    column-gap: 50px;
}


.nav a {
    font-size: 24px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    color: var(--color);
}


.nav a::before{
    content: '';
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--color);
    transition: width 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}


@media (hover: hover) and (pointer: fine) {
    .nav a:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}


.nav a[class='active'] {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
}


.navBtn button {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    width: 60px;
    height: 24px;
    transition: 500ms;
}


.navBtn button:hover {
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-color);
}


.lightBtn {
    border-radius: 10px 0 0 10px;
}


.darkBtn {
    border-radius: 0 10px 10px 0;
}